// цвета

$base-text-color: #263238;
$gray: #eceff1;
$gray-dark: #7c8e96;
$gray-darker: #455a64;
$green: #4eba6f;
$red: #ff5722;
$orange: #ff9800;
$black: #263238;
$white: #d6e3ed;
$yellow-light: #ffecb3;
$yellow: #ffca28;
$sand: #f4f4f4;
$hr: #d6e3ed;


// медиа

$desktop: 992px;
$tablet: 768px;
