// цвета

$base-text-color: #263238;


$gray: #263238;
$gray-dark: #7C8E96;
$green: #4EBA6F;
$red: #FF5722;
$orange: #FF9800;
$black: #263238;
$white: #D6E3ED;
$yellow-light: #FFECB3;
$yellow: #F6C500;


// медиа

$phone-mw: 992px;
