.btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  font-family: $open-sans;
  font-size: 15px;
  font-weight: 400;
  transition: all $time ease;

  @media (max-width: $tablet) {
    font-size: 14px;
  }

  &--bordered {
    padding: 3px 10px;
    border: 1px solid #b0bbbf;
    border-radius: 5px;
    background: none;
    color: #546e7a;
    text-transform: uppercase;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 16px;

    @media (max-width: $tablet) {
      font-size: 14px;
    }

    @media (max-width: $desktop) {
      border: 1px solid $gray-dark;
      background-color: $gray-dark;
      color: #ffffff;
    }

    &:hover,
    &--hover {
      border: 1px solid $gray-dark;
      background-color: $gray-dark;
      color: #ffffff;
    }

    &:active,
    &--active {
      opacity: 0.8;
    }
  }

  &--submit {
    box-sizing: border-box;
    width: 100%;
    padding: 13px 10px;
    border: 0;
    border-radius: 5px;
    background: $black;
    color: #ffffff;
    text-transform: capitalize;
    font-family: $montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;

    &:hover,
    &--hover {
      background: darken($black, 5%);
    }

    &:active,
    &--active {
      background: lighten($black, 10%);
    }
  }

  &--show-all {
    padding: 3px 12px;
    border: 1px solid #b0bbbf;
    border-radius: 3px;
    background: $gray;
    color: #546e7a;
    font-family: $open-sans;
    font-size: 15px;
    line-height: 17px;

    @media (max-width: $tablet) {
      font-size: 14px;
    }

    &:hover {
      background-color: darken($gray, 5%);
    }

    &:active {
      background-color: darken($gray, 5%);
    }
  }

  &--forum {
    border-radius: 4px;
    vertical-align: baseline;
    font-family: $open-sans;
    font-size: 15px;
    line-height: 15px;

    @media (max-width: $tablet) {
      font-size: 14px;
    }
  }

  &--reply {
    padding: 4px 10px;
    background: $gray-darker;
    color: #ffffff;
    text-transform: lowercase;

    &:hover {
      background-color: darken($gray-darker, 5%);
    }

    &:active {
      background-color: darken($gray-darker, 5%);
    }
  }

  &--publish {
    padding: 4px 10px;
    background: $yellow;
    color: #37474f;
    text-transform: lowercase;

    &:hover {
      background-color: darken($yellow, 5%);
    }

    &:active {
      background-color: darken($yellow, 5%);
    }
  }

  &--forum-submit {
    margin-top: 10px;
    padding: 4px 15px;
    outline: none;
    border: none;
    background: $yellow;
    color: #37474f;

    &:hover {
      background-color: darken($yellow, 5%);
    }

    &:active {
      background-color: darken($yellow, 5%);
    }
  }

  &--icon {
    padding: 4px 8px;
    border-radius: 3px;
    color: #37474f;
    font-family: $open-sans;
    font-size: 15px;
    line-height: 1.2;

    @media (max-width: $tablet) {
      font-size: 14px;
    }

    svg {
      width: 10px;
      height: 10px;
    }

    path {
      fill: #37474f;
    }
  }


  &--back {
    border: 1px solid #b0bbbf;

    @media (max-width: $desktop) {
      border: 1px solid transparent;
    }

    svg {
      transform: rotate(90deg);
      margin-right: 5px;
    }

    &:hover {
      background-color: darken($gray, 5%);
    }

    &:active {
      background-color: darken($gray, 5%);
    }
  }


  &--next {
    border: 1px solid $yellow;
    background: $yellow;

    svg {
      transform: rotate(180deg);
      margin-left: 5px;
    }

    .btn-text {
      padding-right: 5px;
    }

    &:hover {
      background-color: darken($yellow, 5%);
    }

    &:active {
      background-color: darken($yellow, 5%);
    }
  }

  &--alert {
    padding: 8px 20px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: $yellow;
    color: $gray;
    font-size: 15px;

    @media (max-width: $tablet) {
      font-size: 14px;
    }

    &:hover,
    &--hover {
      background-color: darken($yellow, 10%);
    }

    &:active,
    &--active {
      background-color: darken($yellow, 5%);
    }
  }

  &--green {
    border: 1px solid $green;
    background: $green;
    color: #ffffff;

    svg path {
      fill: #ffffff;
    }

    &:hover {
      background-color: darken($green, 5%);
    }

    &:active {
      background-color: darken($green, 5%);
    }
  }


  &--arrow {
    width: 27px;
    height: 27px;
    border: 1px solid #b0bbbf;
    border-radius: 50%;
    line-height: 25px;

    svg {
      width: 10px;
      height: 10px;
    }

    path {
      fill: #37474f;
    }

    &:hover,
    &--hover {
      border: 1px solid $yellow;

      path {
        fill: $yellow;
      }
    }

    &:active {
      border: 1px solid $yellow;

      path {
        fill: $yellow;
      }
    }

    @media (max-width: $tablet) {
      width: 26px;
      height: 26px;
      line-height: 25px;
    }
  }


  &--download {
    padding: 4px 15px 5px 9px;
    border-radius: 3px;
    background: $gray;
    color: #40494c;
    font-size: 15px;
    line-height: 18px;

    @media (max-width: $tablet) {
      font-size: 14px;
    }

    .download-icon {
      padding-right: 8px;
      vertical-align: middle;
      line-height: 15px;

      svg {
        width: 14px;
        height: 14px;
      }

      path {
        fill: $gray-darker;
      }
    }

    &:hover {
      background-color: darken($gray, 5%);
    }

    &:active {
      background-color: darken($gray, 5%);
    }
  }
}
