.course-section {

	&__body {
		padding: 30px 0;

		@media (max-width: $tablet) { padding: 20px 0 0; }
	}

	&__title {
	  line-height: 1.3;
	  margin: 0 0 30px;
	  padding: 0;

	  @media (max-width: $tablet) { margin-bottom: 15px; }
		@media (min-width: $desktop) { font-family: $montserrat; }

	}

	&__title-icon {
		display: inline-block;
		vertical-align: top;
		height: 25px;
		width: 25px;
		background: #CFD8DC;
		border-radius: 50%;
		line-height: 20px;
		text-align: center;
		margin: 3px 10px 0 0;

		@media (max-width: $tablet) { display: none; }

		svg {
			width: 10px;
			height: 10px;
		}

		path {
			fill: #78909C;
		}
	}

	&__title-text {
		display: inline-block;
		width: 95%;
	}


}