.collapse {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #cfd8dc;

  &:last-child {
    margin-bottom: 0;

    @media (max-width: $desktop) {
      margin-bottom: 20px;
    }
  }

  @media (max-width: $desktop) {
    padding: 20px 15px;
  }

  &__header {
    @include clearfix();
  }

  &__title {
    margin: 0;
    font-family: $montserrat;
    font-size: 18px;
    font-weight: 400;
    
    @media (max-width: $tablet) {
      font-size: 14px;
    }
  }

  &__btn {
    float: right;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    background: transparent;
    color: #78909c;
    font-size: 13px;
    line-height: 13px;

    svg {
      display: inline-block;
      margin-left: 5px;
      vertical-align: baseline;
    }
  }

  &__content {
    display: none;

    p {
      min-width: 460px;

      @media (max-width: $tablet) {
        min-width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    img,
    video,
    iframe {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  &--open &__header {
    padding-bottom: 20px;
  }

  &--open &__content {
    display: block;
  }

  &--open &__btn {
    background: $gray;

    svg {
      transform: rotate(180deg);
    }
  }
}
