.course-icon-link {
  display: inline-block;
  box-sizing: border-box;
  width: 27px;
  height: 27px;
  border: 1px solid #818181;
  border-radius: 50%;
  background: #ffffff;
  text-align: center;
  line-height: 25px;
  transition: all $time ease;

  &--play svg {
    width: 10px;
    height: 10px;
    padding-left: 3px;
  }

  &--attach svg {
    width: 12px;
    height: 12px;
  }

  path {
    fill: #818181;
  }


  &:hover {
    border: 1px solid $green;
    background: $green;

    path {
      fill: #ffffff;
    }
  }
}
