.course-sections {

  &__item-wrap {
    position: relative;
    margin-bottom: 12px;
    padding: 15px 13px;
    border: 1px solid #c1c1c1;

    &::before {
      position: absolute;
      top: -13px;
      left: 23px;
      width: 7px;
      height: 12px;
      background: #546269;
      content: "";
    }

    &:first-child:before {
      display: none;
    }

    &--passed {
      border: 1px solid $green;

      &::before {
        background: $green;
      }

      .course-sections__item-icon {
        background: $green;

        path {
          fill: #07090a;
        }
      }

      .course-icon-link {
        border: 1px solid $green;
        background: $green;

        path {
          fill: #ffffff;
        }
      }
    }


    @media (max-width: $tablet) {
      &::after {
        display: none;
      }
    }
  }


  &__item {
    width: 100%;

    @include clearfix;
  }


  &__link {
    float: left;
    color: #4c4f5e;
    cursor: pointer;
    font-family: $open-sans-bold;
    font-size: 15px;
    line-height: 27px;
    transition: all $time ease;

    &:hover {
      color: $green;
    }

    @media (max-width: $tablet) {
      width: 100%;
    }
  }


  &__item-icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-right: 12px;
    border-radius: 50%;
    background: #cfd8dc;
    text-align: center;
    vertical-align: top;

    svg {
      width: 10px;
      height: 10px;
    }

    path {
      fill: #78909c;
    }
  }


  &__item-title {
    display: inline-block;
    vertical-align: top;

    @media (max-width: $tablet) {
      width: 80%;
      line-height: 1.4;
    }
  }


  &__item-time {
    float: right;
    width: 8%;
    color: #818181;
    text-align: right;
    line-height: 27px;

    @media (max-width: $desktop) {
      width: 10%;
    }
  }


  &__media-list {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
  }


  &__media-item {
    display: inline-block;
    margin-left: 5px;
  }
}
