.course-base {
  width: 90%;

  @media (max-width: $desktop) {
    width: 96%;
  }

  &__title {
    margin: 0;
  }

  &__descr-show {
    display: none;
    margin-top: 15px;

    @media (max-width: $tablet) {
      display: inline-block;
    }
  }

  &__descr {
    margin: 25px 0;
    color: #37474f;

    p {
      color: inherit;
    }
  }

  &__total-text {
    margin: 0 0 12px;
    padding: 0;
    color: $black;
    font-family: $montserrat;
    line-height: 24px;
  }

  &__instr-count {
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50%;
    background: $gray-darker;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-family: $montserrat;
    font-size: 20px;
    line-height: 50px;

    @media (max-width: $tablet) {
      float: right;
    }
  }

  &__instr-text {
    display: inline-block;
    float: left;
    padding-left: 15px;
    vertical-align: middle;

    @media (max-width: $tablet) {
      padding-left: 0;
    }
  }

  &__instr-title {
    font-family: $montserrat;
    line-height: 24px;
  }

  &__instr-list {
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
  }

  &__instr-name a,
  &__instr-link {
    color: #4c4f5e;
    cursor: pointer;
    text-decoration: underline;
  }
}
