.course-section {
  &__body {
    padding: 30px 0;

    @media (max-width: $tablet) {
      padding: 20px 0 0;
    }
  }

  &__title {
    margin: 0 0 30px;
    padding: 0;
    line-height: 1.3;

    @media (max-width: $tablet) {
      margin-bottom: 15px;
    }
    @media (min-width: $desktop) {
      font-family: $montserrat;
    }
  }

  &__title-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 3px 10px 0 0;
    border-radius: 50%;
    background: #cfd8dc;
    text-align: center;
    vertical-align: top;
    line-height: 20px;

    @media (max-width: $tablet) {
      display: none;
    }

    svg {
      width: 10px;
      height: 10px;
    }

    path {
      fill: #78909c;
    }
  }

  &__title-text {
    display: inline-block;
    width: 94%;
  }
}
