.course-brief {
  width: 280px;
  border-radius: 5px 5px 0 0;
  background: #ffffff;

  &__img {
    width: 100%;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      border-radius: 5px 5px 0 0;
    }
  }

  &__text {
    position: relative;
    padding: 10px 45px 45px;
    text-align: center;
  }


  &__title-wrap {
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
  }

  &__title {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 14px;
    background: #455a64;
    color: #ffffff;
    text-align: center;
    text-transform: lowercase;
    font-family: $montserrat;
    font-size: 15px;
    line-height: 1.1;
  }

  &__list {
    margin: 25px 0 0;
    padding: 0;
    list-style: none;

    &--left {
      text-align: left;
    }
  }

  &__item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__status {
    color: #90a4ae;
  }
}
