.course-preview {
  font-size: 0;

  border-bottom: 1px solid #C0C7CC;
  padding: 15px 0;

  &:first-of-type {
    border-top: 1px solid #C0C7CC;
  }

  &__col {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;

    &--1 {
      width: 10%;

      @media (max-width: $tablet) {
        width: 30%;
        float: left;
      }
    }

    &--2 {
      width: 72%;
      font-size: 0;

      @media (max-width: $desktop) {
        box-sizing: border-box;
        padding: 0 20px;
        vertical-align: top;
      }

      @media (max-width: $tablet) {
        width: 70%;
      }
    }

    &--2-1 {
      width: 69%;
      font-size: 13px;

      @media (max-width: $desktop) {
        width: 100%;
      }
    }

    &--2-2 {
      width: 17%;
      text-align: right;
      font-size: 13px;

      @media (max-width: $desktop) {
        width: 100%;
        text-align: left;
      }
    }

    &--2-3 {
      width: 14%;
      text-align: center;
      font-size: 13px;

      @media (max-width: $desktop) {
        width: 100%;
        text-align: left;
      }
    }

    &--3 {
      width: 18%;

      @media (max-width: $desktop) {
        vertical-align: top;
      }

      @media (max-width: $tablet) {
        width: 100%;
        margin-top: 15px;
      }
    }
  }

  &__image {
    max-width: 70px;

    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }

  &__title {
    margin: 0;
    font-family: $montserrat;
    font-weight: 400;
    font-size: 16px;
  }

  &__about {
    margin: 0;
    font-family: $open-sans-semi-bold;
    font-weight: 600;
    color: #78909C;

    @media (max-width: $tablet) {
      span {
        display: block;
      }
    }
  }
}
