.course-base {
	width: 90%;

	@media (max-width: $desktop) {
    width: 96%;
  }

	&__title {
		margin: 0;
	}

	&__descr-show {
		display: none;
		margin-top: 15px;

		@media (max-width: $tablet) {
	    display: inline-block;
	  }
	}

	&__descr {
		margin: 25px 0px;
		color: #37474F;

		p { color: inherit; }
	}

	&__total-text {
		margin: 0 0 12px;
		padding: 0;
		font-family: $montserrat;
		line-height: 24px;
		color: $black;
	}

	&__instr-count {
		float: left;
		margin-top: 20px;
		width: 50px;
		height: 50px;
		background: $gray-darker;
		border-radius: 50%;
		display: inline-block;
		font-family: $montserrat;
		color: #FFFFFF;
		font-size: 20px;
		text-align: center;
		vertical-align: middle;
		line-height: 50px;

		@media (max-width: $tablet) {
	    float: right;
	  }
	}

	&__instr-text {
		float: left;
		display: inline-block;
		vertical-align: middle;
		padding-left: 15px;

		@media (max-width: $tablet) {
	    padding-left: 0;
	  }
	}

	&__instr-title {
		font-family: $montserrat;
		line-height: 24px;
	}

	&__instr-list {
		list-style: none;
		margin: 10px 0 0;
		padding: 0;
	}
	
	&__instr-name a,
	&__instr-link {
		text-decoration: underline;
		cursor: pointer;
		color: #4C4F5E;
	}

}