.edit-quest {
	padding: 0px 25px 25px;

	&__head {
		font-family: $montserrat;
		margin-bottom: 20px;

		.btn-action {
			padding:0 15px;
		}
	}

	&__head-title {
		font-family: $montserrat-bold;
		font-size: 18px;
		line-height: 1.2;
		color: #343D44;
	}

	&__descr {
		font-size: 12px;
		color: #90A4AE;
		padding: 0;
		margin: 0;
	}

	.btn-action {
		line-height: 20px;

		svg {
			margin-right: 3px;
		}

		path {
			fill: #78909C; 
		}
	}

	&__item {
		display: block;
		box-sizing: border-box;
		border: 1px solid #E7E7E7;
		border-radius: 3px;
		padding: 10px 13px;
		margin-bottom: 15px;
		color: #818181;
		cursor: pointer;

		@include clearfix();
	}

	&__item-text,
	&__item-quest {
		float: left;
		width: 90%;
		padding-top: 4px;
	}

	&__item-quest {
		color: #97A4AB;
	}

	&__item-btns {
		float: right;
		width: 10%;
	}

	&__item-row {
		margin-bottom: 10px;

		@include clearfix();
	}

	&__add-img {
		display: inline-block;
		padding-left: 45px;
		height: 13px;
		position: relative;

		input[type=file] {
			width: 100px;
			border: none;
			padding: 0;
			position: absolute;
			top: 0;
			left: 45px;
			z-index: 999;
			opacity: 0;
		}

	}

	&__add-img-text {
		display: inline-block;
		vertical-align: middle;
		width: 100px;
		content: '';
		position: absolute;
		top: 0;
		left: 45px;
		z-index: 1;

		svg {
			width: 20px;
			height: 15px;
			margin-right: 3px;
		}
	}

	textarea {
		border: 2px solid #D8E3EE;
		margin-top: 10px;
		resize: vertical;
		border-radius: 3px;
		font-family: $open-sans;
		font-size: 14px;
		color: #546E7A;

		&:focus {
			border: 2px solid #455A64;
		}
	}

	&__item-imgs {
		margin: 15px 0;
	}

	&__item-img {
		display: inline-block;
		cursor: pointer;
		margin-right: 11px;
		width: 70px;
		height: 50px;
		border: 2px solid #D8E3EE;
		border-radius: 6px;
		background-position: 50% 50%;
		background-size: cover;
		position: relative;

		.btn--close { display: none; }

		&:hover {
			border-color: #455A64;
			.btn--close { display: block; }
		}
	}

	&__item-col {
		float: left;
		box-sizing: border-box;
		color: #97A4AB;

		&--1 {
			width: 83%;
		}

		&--2 {
			width: 17%;
			padding-left: 20px;
		}

		&--3 {
			width: 13%;
		}

		&--4 {
			float: right;
			width: 4%;
			text-align: right;
		}
	}

	&__item-answer {
		margin-bottom: 10px;

		@include clearfix();

		input[type=text] {
			box-sizing: border-box;
			border: 2px solid #D8E3EE;
			font-family: $open-sans;
			font-size: 14px;
			color: #546E7A;
			padding: 7px 8px;

			&:focus {
				border: 2px solid $green;
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}

	}

	&__item-delete {
		display: inline-block;
		padding: 8px 6px 0 0;

		svg {
			width: 15px;
			height: 15px;
		}

		path {
			fill: #B0BEC5;
		}

		&:hover {
			path {
				fill: $red;
			}
		}
	}
}