.edit-course {
  padding: 0 25px 25px;

  @include clearfix();

  &__col {
    float: left;
    box-sizing: border-box;


    &--1{
      width: 56%;
      padding-right: 20px;
    }

    &--2{
      width: 44%;
    }
  }


  &__row{
    font-size: 0;
    margin-bottom: 15px;
  }

  &__group {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;


    &--half {
      width: 50%;

      &:first-child {
        padding-right: 25px;
      }
    }

    &--1 {
      width: 30%;

      .edit-course__label {
        padding-bottom: 20px;
      }

    }

    &--2 {
      width: 40%;
      padding-left: 25px;

      .edit-course__label {
        padding-bottom: 20px;
      }
    }
  }
  
  &__label {
    display: block;
    color: #97A4AB;
    font-size: 14px;
    padding-bottom: 10px;
  }

  &__add {
    font-family: $montserrat;
    font-size: 14px;
    color: #97A4AB;

    .btn--edit-add {
      margin-left: 5px;
    }
  }

  &__select-group {
    margin-top: 40px;
  }
  
  &__btn-save {
    margin: 0;
  }
}