.edit-announce {

  padding: 0 25px 25px;

  &__item {
    box-sizing: border-box;
    padding: 10px 15px;
    font-family: $montserrat;
    font-size: 13px;
    color: #455A64;
    margin-bottom: 15px;

    @include clearfix();

    &--info {
      border: 1px solid #EFEBE9;
      background: #EFEBE9;
    }

    &--action {
      border: 1px solid #D7CCC8;
      background: #ffffff;
    }
  }

  &__info-left {
    float: left;
  }

  &__info-right {
    float: right;
    margin-top: 5px;

    @include clearfix();

    svg {
      float: right;
      width: 12px;
      height: 12px;
      margin-top: 9px;
      cursor: pointer;
    }

    path {
      fill: #78909C;
    }
  }

  &__info-message {
    padding: 0;
    margin: 0;
  }

  &__info-date,
  &__info-author {
    font-family: $montserrat;
    color: #78909C;
    font-size: 12px;
    line-height: 1.1;
  }

  &__info-date {
    padding-right: 15px;
  }

  &__thumb {

    img {
      display: block;
      width: 30px;
      height: auto;
      border-radius: 50%;
    }

    &--info {
      float: right;
      padding-right: 10px;
    }

    &--action {
      float: left;
      padding-right: 10px;
    }
  }

  &__field-wrap {
    margin: 0 80px 0 50px;

    input {
      border: 0;

      &:focus {
        border: 0;
      }
    }
  }

  &__action-btn {
    margin: 0;
    margin-left: 10px;
    float: right;
  }

}
