.employees {

	&__header {
		text-align: center;
		font-size: 13px;
		padding: 15px 9px;
		color: #546E7A;

		@include clearfix();
	}

	&__col {
		float: left;


		&--1 {
			width: 29%;
			text-align: left;
		}

		&--2 {
			width: 16%;
		}

		&--3 {
			width: 13%;
		}

		&--4 {
			width: 12%;
		}

		&--5 {
			width: 22%;
		}

		&--6 {
			width: 8%;
		}
	}

	&__row {
		padding: 7px 9px;
		border-top: 1px solid #C0C7CC;
		text-align: center;
		line-height: 32px;

		@include clearfix();

		&--danger {
			background: #FFF3E0;

			.employees__name,
			.employees__deadline {
				color: $red;
			}

			.employees__btn-restart {
				display: none;
			}
		}
	}

	&__photo {
		width: 8%;

		img{
			display: block;
			width: 100%;
			max-width: 32px;
		}
	}

	&__info {
		width: 92%;
		color: #97A4AB;
	}

	&__name {
		width: 22%;
		text-align: left;
		color: #37474F;
	}

	&__deadline {
		width: 18%;

		input {
			width: 90%;
			border: none;
		}
	}

	&__wathched {
		width: 14%;
	}

	&__correct {
		width: 13%;
	}

	&__passed {
		width: 24%;
		padding: 3px 0 0;
	}

	&__restart {
		width: 9%;
		padding: 3px 0 0;
	}

	&__btn-restart {
		text-align: center;
		padding: 0;
		border: none;
		background: transparent;
		cursor: pointer;
		padding-left: 5px;
		
		svg {
			width: 18px;
			height: 18px;
		}

		path {
			fill: #97A4AB;
		}

		&:hover path {
			fill: #455A64;
		}
	}

}