.form-alert {
  background: #FFF3E0;
  border: 1px solid #E0CA8C;
  padding: 10px 33px;
  margin: 10px 0;

  &__text {
    color: $gray-darker;
    line-height: 22px;
  }

  &__btn {
    margin-left: 15px;
  }

  &--edit-test {
    padding: 10px 15px 10px 13px;

    @include clearfix();
  }
  
  &--edit-test &__text {
    float: left;
  }

  &--edit-test &__link {
    float: right;
    color: #546E7A;
  }

}