.instructors {
	padding: 0 0 35px;

	&__title {
		margin: 0;
		padding: 30px 10px 25px;
		font-family: $montserrat;
		font-size: 20px;
		color: #2F3438;

	}

	&__title-count {
		font-size: 15px;
		color: #78909C;
	}

	&__person {
		padding: 15px 10px;
		border-top: 1px solid #C0C7CC;
		@include clearfix();
	}

	&__person-photo {
		float: left;
		width: 8%;

		@media (max-width: $tablet) {
			min-width: 30px;
			padding-right: 15px;
		}

		img {
			display: block;
			width: 100%;
			max-width: 30px;
			height: auto;

			@media (max-width: $tablet) {
				min-width: 30px;
				
			}
		}
	}

	&__person-name {
		float: left;
		width: 20%;
		line-height: 30px;

		@media (max-width: $tablet) {
			width: 70%;
		}
	}

	&__person-courses {
		float: left;
		width: 72%;
		color: #78909C;

		@media (max-width: $tablet) {
			width: 100%;
			padding: 10px 0 0;
		}
	}

	&__course-link {
		color: #37474F;
		font-size: 13px;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

}