.logo {
  color: #ffffff;
  text-transform: uppercase;
  font-family: $montserrat-bold;
  font-size: 20px;
  font-weight: bold;

  &--dark {
    color: $black;
  }

  @media (max-width: $tablet) {
    &__second {
      display: block;
      line-height: 26px;
    }
  }
}
