.menu {
  @media (min-width: $desktop) {
    text-align: right;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    font-size: 14px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    padding: 7px 20px;
    border-radius: 100px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $montserrat;
    font-size: 14px;
    line-height: 16px;

    &:hover,
    &--active {
      background-color: #455a64;
    }

    &--active {
      cursor: default;
    }
  }

  &--dark &__link {
    color: $black;

    &:hover,
    &--active {
      background-color: $black;
      color: #ffffff;
    }
  }
}
