.messages {
  &__header {
    font-size: 13px;

    @include clearfix();

    span {
      display: inline-block;
      margin-left: 50px;
    }

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__row {
    position: relative;
    padding: 7px 10px;
    border-top: 1px solid #cfd8dc;

    @include clearfix();

    &:last-child {
      border-bottom: 1px solid #cfd8dc;
    }
  }

  &__col {
    float: left;

    &--1 {
      width: 23%;

      @media (max-width: $tablet) {
        width: 50%;
      }
    }

    &--2 {
      width: 10%;
      text-align: center;

      @media (max-width: $tablet) {
        width: 50%;
      }
    }

    &--3 {
      width: 67%;

      @media (max-width: $tablet) {
        width: 100%;
      }
    }
  }

  &__image {
    display: block;
    float: left;
    width: 30px;
    height: auto;
    margin-right: 20px;
  }

  &__name {
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 16px;
  }

  &__date {
    color: #cfd8dc;
    font-size: 13px;
    line-height: 13px;
  }

  &__icon {
    width: 30px;

    fill: $black;
  }

  &__title {
    min-width: 310px;
    margin-top: 3px;
    cursor: pointer;

    @media (max-width: $tablet) {
      width: 100%;
      margin-top: 10px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__collapse-icon {
    width: 12px;
    margin-left: 10px;
    transform: rotate(180deg);
  }

  &__select {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 125px;

    @media (max-width: $tablet) {
      position: static;
    }
  }

  &__content {
    display: none;

    p {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.messages__col--open {
  .messages__content {
    display: block;
  }

  .messages__collapse-icon {
    transform: rotate(0deg);
  }
}
