.page-header {
  padding: 50px 0 50px;
  background-color: $gray;
  border-bottom: 1px solid #CFD8DC;

  &__title {
    margin: 0;
    margin-bottom: 20px;
  }

  &__description {
    margin: 0;
  }
}
