.progress-line {

  &__link {
    color: #37474F;
    font-size: 13px;
  }

  &__done {
    color: $green;
  }

  &__progress {
    color: $yellow;
  }

  &__not {
    color: $orange;
  }

  &__overdue {
    color: $red;
  }

  &__bar {
    float: right;
    width: 100%;
    max-width: 260px;
    margin: 15px 0 0;
    padding: 0;
    list-style: none;
    font-size: 0;

    @media (max-width: $tablet) {
      max-width: 100%;
    }

    @media (max-width: $desktop) {
      float: none;
    }
  }

  &__bar-line {
    display: inline-block;
    height: 9px;
    font-size: 0;
    background: $orange;

    &:first-child {
      border-radius: 10px 0 0 10px;
    }

    &:last-child {
      border-radius: 0 10px 10px 0;
    }

    &--done {
      background: $green;
    }

    &--progress {
      background: $yellow;
    }

    &--not {
      background: $orange;
    }

    &--overdue {
      background: $red;
    }
  }
}