$big-width: 30px;
$small-width: 25px;

.progress {
  position: relative;
  overflow: hidden;
  height: $big-width;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: $gray-dark;

  &--dark {
    background-color: $gray-darker;
  }

  &__bar {
    height: $big-width;
    background-color: $green;
    font-size: 0;
  }

  &__text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $big-width;
    padding: 0 10px;
    color: #ffffff;
    font-size: 16px;
    line-height: $big-width;
  }

  &--success &__bar {
    background-color: $green;
  }

  &--warning &__bar {
    background-color: $orange;
  }

  &--progress &__bar {
    background-color: $yellow;
  }

  &--danger &__bar {
    background-color: $red;
  }

  &--small {
    height: $small-width;
    margin-bottom: 0;
  }

  &--small &__bar {
    height: $small-width;
  }

  &--small &__text {
    text-align: center;
    font-size: 14px;
    height: $small-width;
    line-height: $small-width;
  }
}
