.section-nav {
  padding: 20px 0 0;
  background: #eaeef1;

  &--bottom {
    padding: 25px 0;
    background: #d8e3ee;

    .section-nav__back {
      margin-right: 5px;
      border: 1px solid #b0bbbf;
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }



  &--test {
    padding: 15px 40px 20px;
    border-radius: 0 0 5px 5px;
    background: $gray;

    @include clearfix();

    @media (max-width: $tablet) {
      padding: 15px 0;
    }

    @media (max-width: $desktop) {
      max-width: 540px;
      margin: 0 auto;
      background: transparent;
    }

    .section-nav__btns {
      float: left;

      @media (max-width: $tablet) {
        display: block;
        float: none;
        text-align: center;
      }
    }
  }


  &--complete {
    padding: 20px 0;
    background: $gray;
    text-align: center;
    vertical-align: baseline;

    @media (max-width: $tablet) {
      padding: 25px 0;
    }
  }



  &__title {
    margin: 0 0 20px;
    padding: 0;
    color: #37474f;
    font-family: $montserrat;
    font-size: 17px;
    line-height: 1.2;
  }

  &__links {
    @include clearfix();
  }

  &__back {
    float: left;
    margin-right: 20px;
  }

  &__progress {
    float: left;

    @media (max-width: $tablet) {
      padding-bottom: 10px;
    }
    @media (max-width: $desktop) {
      clear: both;
      margin-top: 20px;
    }
  }

  &__btns {
    float: right;

    @media (max-width: $desktop) {
      float: left;
    }
  }

  &__arrow {
    margin-right: 8px;
  }

  &__text {
    float: right;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 13px;

    @media (max-width: $tablet) {
      float: none;
      margin: 10px 0 0;
    }
  }

  &__next-text {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: $gray-darker;

    @media (max-width: $tablet) {
      padding-bottom: 10px;
    }
  }

  &__next-link {
    margin-right: 15px;
    color: $black;
    text-decoration: underline;

    &:hover {
      color: darken($black, 15%);
    }
  }
}
