.test-progress {
	font-size: 0;
	padding: 0 0 20px;

	@media (max-width: $tablet ) { padding: 0; }

	&__step {
		display: inline-block;
		background: #ffffff;
		height: 18px;
		width: 18px;
		border-radius: 3px;
		font-family: $montserrat;
		font-size: 10px;
		line-height: 18px;
		color: #78909C;
		text-decoration: none;
		text-align: center;
		margin: 5px 7px 0 0;

		@media (max-width: $tablet ) {
			width: 13px;
			font-size: 0;
			margin-right: 5px;
		}

		&--current {
			background: $yellow;
			position: relative;

			&:after {
				position: absolute;
				content: '';
				left: 50%;
				width: 0;
				bottom: -23px;
				background: transparent;
				border: 8px solid transparent;
		    border-bottom: 8px solid #FAFAFA;
		    margin: 0px -8px;

		    @media (max-width: $tablet ) {
					bottom: -13px;
					border: 6px solid transparent;
			    border-bottom: 6px solid #FAFAFA;
			    margin: 0px -6px;
		    }
		  }
		}

		&--missed {
			color: #FAFAFA;
			background: #78909C;
		}

		&--passed {
			background: $green;
			color: #fff;
			cursor: default;
		}

		&--error {
			background: $red;
			color: #fff;
			cursor: default;
		}
	}

	&--long {

		.test-progress__step {
			font-size: 0;
			width: 13px;
			margin-right: 4px;
		}
	}
}