.test-complete {
  padding: 20px 40px;
  border-right: 1px solid #cfd8dc;
  border-bottom: 1px solid #cfd8dc;
  border-left: 1px solid #cfd8dc;

  @include clearfix();

  @media (max-width: $tablet) {
    padding: 15px 0;
    border: none;
  }

  &__info {
    float: left;

    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  &__links {
    float: right;
    text-align: right;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__percent {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    border-radius: 50%;
    background: $green;
    color: #ffffff;
    text-align: center;
    vertical-align: top;
    font-family: $montserrat-bold;
    font-size: 16px;
    line-height: 55px;
  }

  &__title {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: $montserrat-bold;
    font-size: 22px;
    line-height: 1.3;

    @media (max-width: $tablet) {
      width: 70%;
    }
  }

  &__stat {
    color: $gray-darker;
    font-family: $open-sans;
    font-size: 14px;

    @media (max-width: $tablet) {
      display: inline-block;
      line-height: 20px;
    }
  }

  &__next-text {
    margin: 6px 0 0;
    padding: 0;
    color: $gray-darker;
  }

  &__next-link {
    color: $black;
    text-decoration: underline;


    &:hover {
      text-decoration: none;
    }
  }
}
