[data-tooltip] {
  position: relative;

  &::before {
    position: absolute;
    right: -10px;
    bottom: -40px;
    z-index: 999;
    display: none;
    padding: 6px 20px;
    border-radius: 4px;
    background: #37474f;
    color: #cfd8dc;
    content: attr(data-tooltip);
    white-space: nowrap;
    font-family: $open-sans;
    font-size: 14px;
    line-height: 17px;
  }

  &::after {
    position: absolute;
    right: 5px;
    bottom: -15px;
    display: none;
    border: 8px solid transparent;
    border-bottom: 12px solid #37474f;
    content: "";
  }

  &:hover:before,
  &:hover:after {
    display: block;
  }
}
