.user-courses {
  margin-top: 50px;

  @media (max-width: $desktop) {

    margin-top: 30px;

  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    text-transform: uppercase;

    @include h1();
  }

  &__link {
    margin-top: 10px;

    @media (min-width: $desktop) {
      margin-top: 0px;
      border: none;
      background: transparent;
      color: $base-text-color;
    }

  }

  .progress {
    max-width: 320px;
  }

  .notice-text:first-of-type {
    margin-top: 30px;
  }

  &__nav {
    margin-top: 75px;
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0;
  }

  &__nav-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      padding-bottom: 10px;
      border-bottom: 2px solid $black;
    }

    .link-with-number {
      margin-right: 0;
      font-size: 15px;
    }

    @media (max-width: 768px) {
      margin-right: 10px;
    }
  }
}
