.user-courses {
  margin-top: 50px;

  @media (max-width: $desktop) {
    margin-top: 40px;
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    text-transform: uppercase;

    @include h1();
  }

  &__stat {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__stat-group {
    display: inline-block;
    padding: 0 15px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 40px;
      background: #C0C7CC;
      top: 7px;
      left: -2px;
    }

    &:first-child {
      padding-left: 0;

      &::before {
        display: none;
      }
    }

    &:last-child {

      @media (max-width: $tablet) {
        padding-bottom: 30px;
      }

      @media (max-width: $desktop) {
        display: block;
        padding: 20px 0 0;

        &::before {
          display: none;
        }
      }
    }
  }

  &__stat-item {
    padding: 5px 0;
    font-size: 15px;
    line-height: 1.1;
    color: #546E7A;
  }

  &__stat-count {
    color: #37474F;
  }

  .link-with-number {
    vertical-align: middle;
  }

  &__link {
    display: inline-block;
    vertical-align: middle;

    @media (min-width: $desktop) {
      margin-top: 0;
      border: 1px solid transparent;
      background: transparent;
      color: $base-text-color;
    }

    &:hover {
      border: 1px solid #b0bbbf;
    }
  }

  .progress {
    max-width: 320px;
  }

  .notice-text:first-of-type {
    margin-top: 30px;
  }

  &__announce {

    @media (max-width: $tablet) {

      .link-with-number {
        display: block;
      }
    }

  }

}
