.courses-list {
  &__header {
    margin-bottom: 15px;

    @include clearfix();
  }

  &__col {
    float: left;

    &--1 {
      width: 9%;
    }

    &--2 {
      width: 51%;
    }

    &--3 {
      width: 12%;
      text-align: right;
    }

    &--4 {
      width: 10%;
      text-align: center;
    }

    &--5 {
      width: 18%;

      @media (max-width: $desktop) {
        float: right;
      }
    }
  }
}
