.courses-list {

  &__header {
    @include clearfix();
    margin-bottom: 15px;
  }

  &__col {
    float: left;

    &--1 {
      width: 60%;
    }

    &--2 {
      width: 12%;
      text-align: right;
    }

    &--3 {
      width: 10%;
      text-align: center;
    }

    &--4 {
      width: 18%;
    }
  }
}
